@import 'global';

@import "./components/logo";
@import "./components/button";
@import "./components/burger-menu";

@import "./layout/header";


.about {
    &__container {
        padding-top: 83px;
        padding-left: 70px;
    }
    &__block {
        display: flex;
    }
    &__info {
        margin-top: -15px;
        max-width: 555px;
    }
    &__img {
        padding-left: 40px;
        width: 611px;
        & img {
            display: block;
            width: 100%;
            height: auto;
            // object-fit: cover;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;
    }
    &__text {
        margin-top: -20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__button {
        margin-top: 34px;
        padding: 17.5px 78.5px;
        font-weight: 700;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__numbers-block {
        margin-top: 128px;
        padding-bottom: 10px;
        display: flex;
        box-shadow: 0 40px 40px 1px rgb(13 16 37 / 6%);
    }
    &__number-block {
        display: flex;
        align-items: center;
        padding-left: 88px;
        padding-top: 38px;
        padding-right: 130px;
        padding-bottom: 27px;
        &:nth-child(2) {
            padding-left: 114px;
        }
        &:nth-child(3) {
            padding-left: 93px;
        }
        &:not(:last-child) {
            border-right: 2px solid #EEEFF2;
        }
    }
    &__number-digits {
        margin: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;
    }
    &__number-title {
        font-size: 20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__number-info {
        margin-left: 36.5px;
    }
}

.features {
    padding-top: 130px;
    padding-bottom: 109px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        margin-left: 34px;
    }
    &__info-block {
        width: 428px;
        padding-top: 55px;
    }
    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin: 0;
    }
    &__text {
        margin: 0;
        padding-top: 20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__list {
        margin-top: 21px;
        margin-left: -3px;
    }
    &__list-item {
        position: relative;
        font-size: 14px;
        line-height: 30px;
        color: #4F5665;
        &::before {
            position: absolute;
            content: url('assets/icons/check.svg');
            top: 3px;
            left: -35px;
        }
        &:not(:last-child) {
            margin-bottom: 15px;   
        }
    }
}

.price {
    padding-top: 81px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    &__container {
        max-width: 1090px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin: 0;
    }
    &__text {
        margin: 0 auto;
        text-align: center;
        max-width: 555px;
        line-height: 30px;
        color: #4F5665;
        padding-top: 19px;
    }
    &__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    &__card {
        padding: 76px 27px 50px 28px;
        height: 628px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        &--active {
            border: 2px solid #F53838;
            transition: .5s ease-in-out;
        }
    }
    &__card-img {
        margin-left: 63px;
    }
    &__card-title {
        margin: 0;
        margin-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
    }
    &__card-list {
        margin-top: 32px;
        margin-left: 26px;
        list-style-image: url('assets/icons/check1.svg');
    }
    &__card-list-item {
        font-size: 14px;
        line-height: 30px;
        color: #4F5665;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__button {
        display: inline-block;
        margin-top: auto;
    }
    &__card-price-block {
        margin: 0 auto;
        margin-top: auto;
    }
    &__card-price {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
        margin: 0;
        &--month {
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #4F5665;
        }
    }
    &__card-button {
        margin-top: 14px;
        padding: 13px 63px;
    }
    &__card-list-item span {
        position: relative;
        left: 19px;
    }
}

.global-network {
    padding-top: 150px;
    &__container {
        // max-width: 1140px;
        margin: 0 auto;
    }
    &__title {
        margin: 0 auto;
        max-width: 383px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        color: #0B132A;
    }
    &__text { 
        margin: 0 auto;
        margin-top: 20px;
        line-height: 30px;
        text-align: center;
        color: #4F5665;
        max-width: 555px;
    }
    &__map {
        margin-left: 41px;
        margin-top: 159px;
    }
    &__brands {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    &__brand {
        margin-right: 10px;
    }
    &__brand:nth-child(1) {
        margin-right: 57px;
    }
    &__brand:nth-child(4) {
        margin-right: 60px;
    }
}

.testimonials {
    margin-top: 41px;
    position: relative;
    &__container {
        max-width: 1354px;
        margin: 0 auto;
    }
    &__title {
        margin: 0;
        margin-left: 487px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        color: #0B132A;
        max-width: 448px;
    }
    &__text {
        margin: 0;
        padding-top: 20px;
        line-height: 30px;
        text-align: center;
        color: #4F5665;
        max-width: 555px;
        margin-left: 435px;
    }
    &__cards {
        margin: 0 auto;
        margin-top: 61px;
        max-width: 1300px;
        position: relative;
    }
    &__cards-container  {
        display: flex;
        gap: 39px;
        justify-content: space-between;
        padding-left: 53px;
    }
    &__card {
        width: 400px;
        height: 231px;
        padding: 30px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        user-select: none;
        &:hover {
            border: 2px solid #F53838;
            transition: all .4s ease-in-out;
        }
    }
    &__card-top {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__card-score-block {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__card-score {
        line-height: 30px;
        color: #0B132A;
        
    }
    &__card-user-name {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        color: #0B132A;
        text-align: center;
    }
    &__card-user-location {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: #4F5665;
    }
    &__card-testimonial {
        line-height: 30px;
        color: #0B132A;
        margin: 0;
    }
    &__card-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #DDE0E4;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 12px;
        }
        &--active {
            width: 45px;
            background: #F53838;
            border-radius: 50px;
        }
    }
    &__card-bottom {
        margin-top: 62px;
        padding-left: 53px;
        display: flex;
        align-items: center;
    }
    &__cards-buttons {
        margin-left: 865px;
    } 
    &__button-left,
    &__button-right {
        background-color: white;
        font-size: 31px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #F53838;
        cursor: pointer;
        &:hover {
            & path {
                fill: white;
            }
            background: #F53838;
        }
    }
    &__button-left {
        margin-right: 20px;
        position: relative;
       
    }
    &__button-right {
        margin-right: 20px;
        position: relative;
        & svg {
            transform: rotateY(180deg);
        }
    }
}

.footer {
    padding-top: 448px;
    &__container {
        // max-width: 1140px;
        margin: 0 auto;
        display: flex;
    }
    &__logo-block {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: block;
        padding: 0;
        margin-right: 10px;
    }
    &__label-name {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #0B132A;
    }
    &__text {
        margin: 0;
        margin-top: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #4F5665;
        max-width: 340px;
        & b {
            font-weight: 500;
        }
    }
    &__socials {
        margin-top: 34px;
        margin-left: 4px;
        display: flex;
        gap: 25px;
    }
    &__social-link {
        display: block;
        width: 28px;
        height: 30px;
        border-radius: 50%;
        background-color: #F53838;
        & img {
            object-fit: contain;
            display: inline-block;
            margin-left: -3px;
            margin-top: -3px;
        }
    }
    &__copyright {
        display: inline-block;
        margin-top: 30px;
        line-height: 30px;
        text-align: center;
        color: #AFB5C0;
    }
    &__list1,
    &__list2,
    &__list3 {
        line-height: 30px;
        margin-left: 74px;
        & a {
            display: inline-block;
            color: #4F5665;
        }
        & li:first-child {
            margin-bottom: 20px;
            & a {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #0B132A;
            }
        }
    }
    &__list1 {
        margin-left: 190px;
       
    }
}

.subscribe-block {
    position: absolute;
    padding: 46px 70px;
    border-radius: 10px;
    width: 1001px;
    height: 135px;
    top: 657px;
    left: 381px;
    box-shadow: -2px 11px 43px 0px rgb(34 60 80 / 20%);
    display: flex;
    align-items: center;
    &__title {
        margin: 0;
        max-width: 372px;
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        align-items: center;
        color: #0B132A;
    }
    &__text {
        display: inline-block;
        margin-top: 20px;
        line-height: 30px;
        align-items: center;
        color: #4F5665;
    }
    &__button {
        display: block;
        margin-left: auto;
        padding: 17.5px 65px;
        font-weight: 700;
        line-height: 25px;
    }
}




// @media (max-width: 950px) {
//     .header {
//         &__burger-menu__button-open {
//             display: none;
//         }
//         &__logo {
//             margin-right: 0;
//         }
//         &__nav {
//             font-size: 13px;
//             margin-left: 0;
//         }
//         &__list li{
//             &:not(:last-child) {
//                 margin-right: 12px;
//             }
//         }
//         &__signin-signup-block {
//             display: block;
//             align-self: center;
//         }
//         &__button {
//             font-size: 14px;
//         }
//         &__button:first-child {
//             margin-right: 7px;
//         }
//     }
// }


// @media screen and  (max-width: 710px)   {
//     .header {
//         &__nav,
//         &__signin-signup-block {
//             display: none;
//         }
//         &__burger-menu__button-open {
//             display: block;
//         }
//     }
//     .about {
//         &__container {
//             padding-top: 40px;
//             padding-left: 0;
        
//         }
//         &__block {
//             justify-content: center;
//         }
//         &__title {
//             font-weight: 400;
//             text-align: center;
//             font-size: 70px;
//             line-height: 80px;
//         }
//         &__text {
//             text-align: center;
//             font-size: 20px;
//         }
//         &__img {
//             display: none;
//         }
//         &__button {
//             margin-left: 25%
//         }
//         &__number-block {
//             padding-left: 25px;
//             padding-top: 4px;
//             padding-right: 45px;
//             padding-bottom: 15px;
//             &:nth-child(2) {
//                 padding-left: 15px;
//             }
//             &:nth-child(3) {
//                 padding-left: 10px;
//             }
//             &:not(:last-child) {
//                 border-right: 2px solid #EEEFF2;
//             }
//         }
//         &__numbers-block {
//             justify-content: center;
//         }
//         &__number-icon img{
//             width: 40px;
//             height: 40px;
//         }
//         &__number-digits {
//             font-size: 20px;
//         }
//         &__number-title {
//             font-size: 15px;
//         }
//         &__number-info {
//             margin-left: 20px;
//         }
//     }
//     .features {
//         padding-top: 65px;
//         &__container {
//             position: relative;
//             justify-content: center;
           
//         }
//         &__img img{
//             position: absolute;
//             left: 27px;
//             bottom: 0;
//             max-width: 270px;
//             max-height: 270px;
//         }
//         &__title {
//             font-size: 40px;
//             text-align: center;
//         }
//         &__text {
//             padding-top: 10px;
//             line-height: 20px;
//             text-align: center;
//         }
//         &__list {
//             margin-top: 70px;
//             float: right;
//         }
        
//     }
// }

// @media screen and (max-width: 340px) {
//     .header {
//         &__nav,
//         &__signin-signup-block {
//             display: none;
//         }
//         &__burger-menu__button-open {
//             display: block;
          
//         }
//         &__burger-menu__nav, 
//         &__burger-menu__button-close {
//             font-size: 32px;
//         } 
//     }
// }