@import 'global';

.header {
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 45px;
        display: flex;
        gap: 119px;
    }
    &__logo-block {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: block;
        padding: 0;
        margin-right: 10px;
    }
    &__label-name {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #0B132A;
        
    }
    &__list li{
        display: inline-block;
       
        line-height: 19px;
        &:not(:last-child) {
            margin-right: 36px;
        }
        & a {
            color: #4F5665;
        }
    }
    &__signin-signup-block {
        margin-left: 29px;
    }
    &__button:first-child {
        font-weight: 500;
        margin-right: 27px;
    }
    &__button:last-child {
        padding: 13px 45px;
    }
}

.about {
    &__container {
        margin: 0 auto;
        max-width: 1207px;
        padding-top: 83px;
        padding-left: 70px;
    }
    &__block {
        display: flex;
    }
    &__info {
        margin-top: -15px;
        max-width: 555px;
    }
    &__img {
        padding-left: 40px;
    }
    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;
    }
    &__text {
        margin-top: -20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__button {
        margin-top: 34px;
        padding: 17.5px 78.5px;
        font-weight: 700;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__numbers-block {
        margin-top: 128px;
        padding-bottom: 10px;
        display: flex;
        box-shadow: 0 40px 40px 1px rgb(13 16 37 / 6%);
    }
    &__number-block {
        display: flex;
        align-items: center;
        padding-left: 88px;
        padding-top: 38px;
        padding-right: 130px;
        padding-bottom: 27px;
        &:nth-child(2) {
            padding-left: 114px;
        }
        &:nth-child(3) {
            padding-left: 93px;
        }
        &:not(:last-child) {
            border-right: 2px solid #EEEFF2;
        }
    }
    &__number-digits {
        margin: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #0B132A;
    }
    &__number-title {
        font-size: 20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__number-info {
        margin-left: 36.5px;
    }
}

.features {
    padding-top: 130px;
    padding-bottom: 131px;
    &__container {
        margin: 0 auto;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        margin-left: 34px;
    }
    &__info-block {
        width: 428px;
        padding-top: 55px;
    }
    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin: 0;
    }
    &__text {
        margin: 0;
        padding-top: 20px;
        line-height: 30px;
        color: #4F5665;
    }
    &__list {
        margin-top: 21px;
        margin-left: -3px;
    }
    &__list-item {
        font-size: 14px;
        line-height: 30px;
        color: #4F5665;
        &:not(:last-child) {
            margin-bottom: 15px;   
        }
    }
}

.price {
    margin-top: 59px;
    &__container {
        max-width: 1090px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin: 0;
    }
    &__text {
        margin: 0 auto;
        text-align: center;
        max-width: 555px;
        line-height: 30px;
        color: #4F5665;
        padding-top: 19px;
    }
    &__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    &__card {
        padding: 76px 27px 50px 28px;
        height: 628px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        &--active {
            border: 2px solid #F53838;
        }
    }
    &__card-img {
        margin-left: 63px;
    }
    &__card-title {
        margin: 0;
        margin-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
    }
    &__card-list {
        margin-top: 32px;
        margin-left: 26px;
        list-style-image: url('assets/icons/check1.svg');
    }
    &__card-list-item {
        font-size: 14px;
        line-height: 30px;
        color: #4F5665;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__button {
        display: inline-block;
        margin-top: auto;
    }
    &__card-price-block {
        margin: 0 auto;
        margin-top: auto;
    }
    &__card-price {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
        margin: 0;
    }
    &__card-button {
        margin-top: 14px;
        padding: 13px 63px;
    }
    &__card-list-item span {
        position: relative;
        left: 19px;
    }
}